CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out/
CTP*
CMakeENVInfo.cmake
CMakeListsExecutor.cmake
CMakeLists.txt
CMakeProjectLists.cmake
CMakeLists.txt
CMakeLists.txt
CMakeTemplateOutput/
CMakeENVSettings.cmake
CMakeProjects.cmake
CMakeRoot.cmake
CMakeRootListsExecutor.cmake
